@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"),
    local("Roboto-Light"), local("DroidSans"), local("Tahoma"),
    local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light");
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#address-bar {
  height: 28px;
  background-color: #f1f3f4;
  width: 100vw;
  display: flex;
  align-items: center;
  white-space: nowrap;
  /* overflow: scroll; */
  text-overflow: ellipsis;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border-bottom: 1px solid lightgray;
  position: fixed;
  top: 0;
  left: 0;
}

#url-bar::-webkit-scrollbar {
  display: none;
}

#padlock-icon {
  user-select: none;
  padding-left: 8px;
  margin-right: 8px;
}

#domain-name {
  color: #000000;
  font-size: 14px;
  font-family: "system";
}

#domain-path {
  color: #7c7c7c;
  font-size: 14px;
  font-family: "system";
}

#title-width {
  width: 100%;
}

#frame-content {
  width: 100vw;
  height: 700vh;
  margin-top: 28px;
}

#main-window {
  color: transparent;
  background-color: transparent;
  border-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 100vh;
  width: 100vw;
}
